@tailwind base;
@tailwind components;
@tailwind utilities;

-z-1 {
	z-index: -1;
}

@layer base {
	h2 {
		@apply text-lg font-bold;
	}

	a:link {
	}

	a:hover {
		@apply transition-all;
		@apply underline;
	}
}
